<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cestovné poistenie</title>
</head>
<body>
<h1>Cestovné poistenie - úpravy</h1>

<form th:action="'/products/edit/travel'" th:object="${travelInsuranceRes}" method="post">
    <label for="id">ID zmluvy</label>
    <input type="number" id="id" th:field="*{id}" readonly style="background-color: lightgray">
    <p th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></p>
    <br>
    <label for="creationDate">Vytvorenie zmluvy</label>
    <input type="datetime-local" id="creationDate" th:field="*{dateOfCreation}" readonly style="background-color: lightgray">
    <p th:if="${#fields.hasErrors('dateOfCreation')}" th:errors="*{dateOfCreation}"></p>
    <br>

    <label for="insurer">Poistovatel</label>
    <input type="number" min="0" id="insurer" th:field="*{InsurerID}" readonly style="background-color: lightgray">
    <p th:if="${#fields.hasErrors('InsurerID')}" th:errors="*{InsurerID}"></p>
    <br>

    <label for="effectiveby">Datum zaciatku platnosti poistenia</label>
    <input type="date" id="effectiveby" th:field="*{EffectiveBy}">
    <p th:if="${#fields.hasErrors('EffectiveBy')}" th:errors="*{EffectiveBy}"></p>
    <br>

    <label for="expirationdate">Datum konca platnosti poistenia</label>
    <input type="date" id="expirationdate" th:field="*{ExpirationDate}">
    <p th:if="${#fields.hasErrors('ExpirationDate')}" th:errors="*{ExpirationDate}"></p>
    <br>

    <label for="insurancevalue">Vyska poistky</label>
    <input type="number" step = "0.01" min="0" id="insurancevalue" th:field="*{InsuranceValue}">
    <p th:if="${#fields.hasErrors('InsuranceValue')}" th:errors="*{InsuranceValue}"></p>
    <br>

    <label for="monthlyFee">Mesacna splatka</label>
    <input type="number" step="0.01" min="0" id="monthlyFee" th:field="*{monthlyFee}">
    <p th:if="${#fields.hasErrors('monthlyFee')}" th:errors="*{monthlyFee}"></p>
    <br>
    <label for="insuredId">ID poistenej osoby</label>
    <input type="number" min="0" id="insuredId" th:field="*{Insured}"readonly style="background-color: lightgray">
    <p th:if="${#fields.hasErrors('Insured')}" th:errors="*{Insured}"></p>
    <br>

    <label for="Eu">Cesta mimo EU</label>
    <input type="checkbox" id="Eu" th:field="*{EU}">
    <p th:if="${#fields.hasErrors('EU')}" th:errors="*{EU}"></p>
    <br>

    <label for="travelTarget">Ucel cesty</label>
    <select name="travelTarget" id="travelTarget" th:field="*{travelTarget}">
        <option th:each="opt:${traveltargetOptions}"
                th:value="${opt}"
                th:selected="${opt.equals(travelInsuranceRes.getTravelTarget())}"
                th:text="${opt.getFocus()}"></option>
    </select>
    <p th:if="${#fields.hasErrors('travelTarget')}" th:errors="*{travelTarget}"></p>
    <br>

    <input type="submit" value="Submit">
    <br>

</form>
</body>
</html>